<section class="container mt-5 list-page">
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/list">Libros</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{categoryName}}</li>
    </ol>
  </nav>
  <h1 class="fw-bold fs-4">Libros {{categoryName}}</h1>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <p class="mb-0 fs-6">{{ books.length }} resultados</p>
    </div>
  
    <div class="d-flex align-items-center">
      <label class="mb-0 me-2 fw-bold sort-label">Ordenar por:</label>
      <select class="form-select flex-grow-1" style="width: auto;" [(ngModel)]="sort">
        <option value="nameAsc">Nombre A-Z</option>
        <option value="nameDesc">Nombre Z-A</option>
        <option value="lowerPrice">Menor precio</option>
        <option value="higherPrice">Mayor precio</option>
      </select>
    </div>
  </div>

  <div class="container mt-2">
    <div class="row">
      <div class="col-md-10">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let book of books | orderBy:sort | paginate: { itemsPerPage: 16, currentPage: page }">
              <app-book [book]="book"></app-book>
            </div> 
          </div> 
        </div>        
      </div>
      <div class="col-md-2">
        <div class="d-grid gap-2">
          <div class="filter-box">
            <div class="form-check form-check-inline form-switch">
              <label for="check1" class="form-check-label fw-bold">Envio gratis</label>
              <input type="checkbox" class="form-check-input" id="check1">
            </div>
          </div>
          <hr style="margin: 0;">
          <div class="filter-box">
            <div class="form-check form-check-inline form-switch">
              <label for="check1" class="form-check-label">Llegan manana</label>
              <input type="checkbox" class="form-check-input" id="check1">
            </div>
          </div>
          <hr style="margin: 0;">
          <div>
            <h3 class="fs-6">Idioma</h3>
            <ul>
              <li><a>
                <span class="book-language-count">Espanol</span>
                <span class="book-language-count ml-2">(598)</span>
              </a></li>
              <li><a >
                <span class="book-language-count">Ingles</span>
                <span class="book-language-count ml-2">(19)</span>
              </a></li>
              <li><a>
                <span class="book-language-count">Chino</span>
                <span class="book-language-count ml-2">(1)</span>
              </a></li>
              <li><a>
                <span class="book-language-count">Aleman</span>
                <span class="book-language-count ml-2">(3)</span>
              </a></li>
              <li><a>
                  <span class="book-language-count">Portugues</span>
                  <span class="book-language-count ml-2">(29)</span>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-8 py-5 flex-justify-center items-center">
  <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
</div>