<div class="container register-section w-75 rounded">
  <div class="row align-items-stretch">
    <div class="col bg-white p-5 rounded-end">
      <div class="text-end">
        <img src="" alt="">
      </div>
      <h2 class="fw-bold text-center py-5">Crea una nueva cuenta!</h2>.

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- User  -->
        <div class="mb-4">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" class="form-control" formControlName="username"
            [class.is-invalid]="registerForm.get('username').invalid && registerForm.get('username').touched">
          <div class="invalid-feedback">
            <div *ngIf="registerForm.get('username').hasError('required')">Usuario es requerido.</div>
          </div>
        </div>

        <!-- Email  -->
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email"
            [class.is-invalid]="registerForm.get('email').invalid && registerForm.get('email').touched">
          <div class="invalid-feedback">
            <div *ngIf="registerForm.get('email').hasError('required')">Email es requerido.</div>
            <div *ngIf="registerForm.get('email').hasError('email')">Ingrese un email válido.</div>
          </div>
        </div>

        <!-- Password  -->
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" formControlName="password"
              [class.is-invalid]="registerForm.get('password').invalid && registerForm.get('password').touched">
            <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
              <i class="{{ hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash' }}"></i>
            </button>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="registerForm.get('password').hasError('required')">Contraseña es requerida.</div>
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registrar</button>
        </div>

        <div class="my-3">
          <span>Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></span> <br>
          <span><a href="">Recuperar contraseña</a></span>
        </div>
      </form>

      <div class="container w-100 my-5">
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" width="32" alt="">
              </div>
              <div class="col-12 col-md-10 text-center">
                Facebook
              </div>
            </div>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-outline-danger w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_1280.png" width="32" alt="">
              </div>
              <div class="col-12 col-md-10 text-center">
                Google
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>