<section class="container mt-5 crud-page">
  <h5>Libros</h5>
  <form action="d-flex">
    <button class="btn btn-outline-success" routerLink="/crud/create">Agregar Libro</button>
    <button class="btn btn-outline-primary" routerLink="/crudCategory">Agregar Categorias</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Titulo</th>
        <th scope="col">Año</th>
        <th scope="col">Autor</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoría</th>
        <th scope="col">Editorial</th>
        <th scope="col">Paginas</th>
        <th scope="col">Languaje</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books | paginate: { itemsPerPage: 5, currentPage: page }">
        <th scope="row">{{book.isbn}}</th>
        <td>{{book.title}}</td>
        <td>{{book.year}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.category.name}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.language}}</td>
        <td>{{book.stock}}</td>
        <td>
          <button class="btn btn-outline-warning" [routerLink]="['/update', book.isbn]">Actualizar</button>
          <button type="button" class="btn btn-outline-danger" (click)="onDeleteBook(book.isbn)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>