<footer class="text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">EXPLORAR</h5>
        <p>Descubri en Libreria lo que mas te gusta de libros fisicos con las mejores ofertas. ¡Encontrá promociones y descuentos en toda la tienda!</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Explorar</h5>
        <p>
          <a routerLink="list" class="text-white">Libros</a>
        </p>
        <p>
          <a href="#" class="text-white">Musica</a>
        </p>
        <p>
          <a href="#" class="text-white">Peliculas</a>
        </p>
        <p>
          <a href="#" class="text-white">Sucursales</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">MI CUENTA</h5>
        <p>
          <a href="#" class="text-white">Ingresar</a>
        </p>
        <p>
          <a href="#" class="text-white">Ver Carrito</a>
        </p>
        <p>
          <a href="#" class="text-white">Favoritos</a>
        </p>
        <p>
          <a href="#" class="text-white">Promociones</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">CONTACTO</h5>
        <p>
          <i class="bi bi-house mr-3"></i>librerias@gmail.com
        </p>
        <p>
          <i class="bi bi-envelope mr-3"></i>0810 33 EXTRA (39872)
        </p>
        <p>
          <i class="bi bi-telephone mr-3"></i>+54 9 11 2885-9442
        </p>
        <p>
          <i class="bi bi-printer mr-3"></i>Click Aqui
        </p>
      </div>
      
      <hr class="mb-4">

      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p>Copyright 2023 All rights reserved by:
            <a href="#">
              <strong style="color: rgb(155, 213, 213);">Libreria</strong>
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
      
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class='bi bi-twitter-x' style='color:#ffffff'></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                  class="bi bi-google"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                  class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="bi bi-youtube"></i></a>
            </li>
          </ul>
      
        </div>
      
      </div>
    </div>
  </div>
</footer>