<div class="container-fluid main-container">
  <div class="container cart-container">
    <ul class="nav nav-tabs tab-container">
      <li class="nav-item tab-li">
        <span class="title-blue nav-link">Tu carrito ({{dataSource.length}})</span>
      </li>
    </ul>
    <div class="separator"></div>
    <div *ngIf="!cart.items.length" class="d-flex flex-column text-center m-5">
      <p>
        Tu carrito esta vacío.
      </p>
      <button class="btn btn-primary btn-lg button-cart mx-auto" routerLink="/home">Empezar a comprar</button>
    </div>
    <div *ngFor="let item of dataSource">
      <section class="item-row d-flex flex-row flex-wrap position-relative justify-content-between pt-5">
        <article class="item-cart d-flex">
          <div class="item-cart-asset">
            <img src={{item.product}} alt="">
          </div>
          <div class="overflow-hidden">
            <div class="item-title">
              <span class="text-title fw-bold">{{item.name}}</span>
            </div>
            <div class="item-cart-actions">
              <div class="d-flex flex-row pb-1">
                <a (click)="onRemoveFromCart(item)"><span class="title-blue">Eliminar</span></a>
                <a><span class="title-blue">Comprar ahora</span></a>
              </div>
            </div>
          </div>
        </article>

        <div class="quantity-selector d-flex flex-column align-self-center">
          <div class="d-flex flex-row position-relative justify-content-center">
            <form class="quantity-selector-form d-flex overflow-hidden align-items-center">
              <button class="quantity-selector-button"
                (click)="onRemoveQuantity(item)" [disabled]="item.quantity <= 0">
                <span class="quantity-span d-flex align-items-center justify-content-center">-</span>
              </button>
              <div class="form-control d-block position-relative text-center overflow-auto border-0">
                  <span>{{item.quantity}}</span>
              </div>
              <button class="quantity-selector-button"
                (click)="onAddQuantity(item)" [disabled]="item.quantity >= item.stock">
                <span class="quantity-span">+</span>
              </button>
            </form>
          </div>
          <p class="quantity-selector-message d-flex flex-column align-items-center text-center">
            <span style="color: #999; font-size: 14px;">{{item.stock - item.quantity}} disponibles</span>
          </p>
        </div>

        <div class="d-flex g-1 align-self-center pb-5">
          <span class="item-price-span">{{ item.quantity * item.price | currency }}</span>
        </div>
        <div class="separator"></div>
      </section>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center pt-3" >
      <div class="d-flex flex-row align-items-center">
        <h5 class="fs-3 p-2">
          <span class="total-text">Total</span>
        </h5>
        <h6 class="p-2">
          <span class="fs-3">{{getTotal(cart.items) | currency }}</span>
        </h6>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-primary fs-6 button-cart" (click)="onBuy()">
          Comprar
        </button>
      </div>
    </div>
  </div>
  <div class="separator"></div>
</div>